.item-wrapper {
    display: flex;
    height: 20px;
    gap: 5px;
}

.item-image-wrapper {
    width: 30px;
}

.item-wrapper img {
    height: auto;
    max-height: 100%;;
    max-width: 100%;
}

.subtext {
    display: block;
    font-size: 10px;
    text-decoration: none;
}

.nav-link {
    transition: all 0.1s ease-in-out;
    text-underline-offset: 4px;
}

.nav-link:hover {
    text-underline-offset: 8px;
}

.active {
    text-underline-offset: 8px;
}

.skill-ok {
    /* Stolen from health bar */
    color: #088c39;
}

.skill-boost-ok {
    color: orange;
}